<div class="mt-24">
  <span class="header font-semibold text-6xl tracking-tight">Rooms</span>
</div>
<div class="flex mt-10">
  <button
    class="bg-white text-gray-800 text-4xl font-semibold h-32 w-56 border border-gray-400 rounded-lg shadow mx-6"
  >
    Create
  </button>
  <button
    class="bg-white text-gray-800 text-4xl font-semibold h-32 w-56 border border-gray-400 rounded-lg shadow mx-6"
  >
    Join
  </button>
</div>
