<span class="title is-1 header">
  Create your user
</span>
<%= form_with(local: true) do |f| %>
  <%= f.label :username, class: "subtitle subtitle-text"%>
  <%= f.text_field :username, required: true, class: "input is-info input-width"%>

  <%= f.submit "Go to rooms â¡ï¸", class: "button is-link is-light" %>
<% end %>
