<div class="mt-24">
  <span class="header font-semibold text-6xl tracking-tight"
    >Create your user</span
  >
</div>
<div class="mt-6">
  <%= form_with(local: true) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, required: true%>

    <%= f.submit "Go to rooms â¡ï¸", class: "bg-white text-gray-800 text-xl
    font-semibold p-1 w-40 text-center rounded-lg shadow mx-6" %>
  <% end %>
</div>
