.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: #4fd1c5;
  padding: 50px;
}

.margin-50 {
  margin: 50px 0px 50px;
}

.subtitle-text {
  margin: auto;
}

.input-width {
  width: 200px;
}
